// fonts
$bodyFont: 'Oswald', sans-serif;
$mainFont: 'Spicy Rice', cursive;

// colours

$baseColour: #232A3D;
$headingColour:  #D8C899;
$number: #BF5931;
$winningNumber: #DC9439;
$winningFont: rgb(230, 203, 163);
